.NavContainer{
  width : 100% ; 
  background-color: rgb(20, 0, 0);

}
.Lis {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
.Cont {
    display: block;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    float: right;
  }
.Home{
    display: block;
    font-weight: 1000;
   color: white;
   font-size:130%;
   padding-top: 10px;
    text-align: center;
    padding-left: 50px;
    font-family:cursive;
    letter-spacing: 4px;

    float:left;
}
  
 
  
  /* Change the link color to #111 (black) on hover */
  .Cont:hover{
      background-color:rgb(172, 150, 150);
  }
  


  